<h1>Beacons#index</h1>

<table>

  <thead>
    <tr>
      <th>UUID</th>
      <th>Major</th>
      <th>Minor</th>
      <th>Función</th>
    </tr>
  </thead>

  <tbody>
    <% @beacons.each do |beacon| %>
      <tr>
        <td><%= beacon.uuid %></td>
        <td><%= beacon.major %></td>
        <td><%= beacon.minor %></td>
        <td><%= beacon.funcion.nombre %></td>
      </tr>
    <% end %>
  </tbody>

</table>
