<script type="text/javascript">
$(document).ready(function() {
  setTimeout(function() {
    window.location.reload();
  }, 3000);
});
</script>

<h1>Semaforo#show</h1>

<h2>Color</h2>
<%= @semaforo.estado %>
